/* Condsider changing the colour theme */

.App{
  padding: 10px;
  /* background-color: #C16767; */
  /* background-color: #E3F261; */
  /* background-color: #F0FF4A; */
  background-color: #33A7D4;
}
.navbar-colour{
  background-color: white;
  border-radius: 4px;
  /* border: 2px solid black; */
}
.navbar-brand{
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.Navigation{
  padding-bottom: 10px;
}
.nav-link, .dropdown-item{
  color: black !important;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 17px;
}
.home-title-text, .business-title-text, .health-title-text, .politics-title-text, .science-title-text, .tech-title-text, .weather-title-text, .features-title-text{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  font-weight: 700;
  
}
/* hero title and subtitle */
.Ht1{
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.Hs1{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.card{
  background-color: white;
  max-width: 100%;
  margin-bottom: 10px;
}
.carousel{
  padding-bottom: 10px;
}
.Abutton{
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .card{
    display: inline-block;
    width: 16rem;
    margin: 5px;
  }
}

/* make the weatherbox turn back into a tile at bottom of page of page break */